/***** 
* variables 
******/
/* end variables */
.ac-wrapper {
  width: 100%;
  margin-bottom: 60px; }

.ac-row {
  padding: 15px 25px;
  border-bottom: 1px solid #e4e6ec; }

.ac-main_title {
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 20px 25px 21px;
  background: white; }
  .ac-main_title .heading--h2 {
    font-size: 18px;
    font-weight: 400;
    color: #333; }

.ac-panel {
  background: white;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }
  .ac-panel_title {
    position: relative;
    cursor: pointer; }
    .ac-panel_title .heading--h3, .ac-panel_title .heading--h4, .ac-panel_title .ac-icon {
      pointer-events: none; }
    .ac-panel_title .heading--h3 {
      font-size: 14px;
      font-weight: 600;
      color: #0465ac;
      line-height: 20px;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ac-panel_title .heading--h4 {
      font-size: 12px;
      font-weight: 600;
      color: #999;
      margin-top: 6px;
      line-height: 18px; }
    .ac-panel_title .ac-icon {
      font-size: 26px;
      position: absolute;
      margin-left: 25px;
      right: 0;
      top: 50%;
      color: #0465ac;
      display: inline-block;
      -webkit-transform: scaleY(1) translateY(-50%);
      -ms-transform: scaleY(1) translateY(-50%);
      transform: scaleY(1) translateY(-50%);
      -webkit-filter: none;
      filter: none;
      -webkit-transition: -webkit-transform .3s, -webkit-filter .3s;
      transition: -webkit-transform .3s, -webkit-filter .3s;
      -o-transition: transform .3s, filter .3s;
      transition: transform .3s, filter .3s;
      transition: transform .3s, filter .3s, -webkit-transform .3s, -webkit-filter .3s; }
    .ac-panel_title.ac--open .ac-icon {
      top: 0;
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1);
      -webkit-filter: flipv;
      filter: flipv;
      display: inline-block;
      padding-left: 5px;
      padding-right: 0;
      -webkit-transition: -webkit-transform .3s, -webkit-filter .3s;
      transition: -webkit-transform .3s, -webkit-filter .3s;
      -o-transition: transform .3s, filter .3s;
      transition: transform .3s, filter .3s;
      transition: transform .3s, filter .3s, -webkit-transform .3s, -webkit-filter .3s; }
    .ac-panel_title.ac--open .heading--h3 {
      font-size: 18px; }
  .ac-panel_content {
    position: relative;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    -webkit-transition: height 1s, padding 1s, opacity 1s ease-in;
    -o-transition: height 1s, padding 1s, opacity 1s ease-in;
    transition: height 1s, padding 1s, opacity 1s ease-in;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    height: 0; }
    .ac-panel_content.ac--open {
      display: block;
      -webkit-transition: height 1s, padding 1s, opacity 1s ease-in;
      -o-transition: height 1s, padding 1s, opacity 1s ease-in;
      transition: height 1s, padding 1s, opacity 1s ease-in;
      opacity: 1; }
    .ac-panel_content .absolute-container {
      position: absolute;
      top: 23px; }
  .ac-panel.ac--open {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px; }
