/***** 
* variables 
******/

$azure: #0465ac;
$grey-description: #999;
$grey-content: #333;
$grey-divider: #e4e6ec;

/* end variables */


.ac-wrapper{
	width: 100%;
	background: white;
	margin-bottom: 30px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.ac-row{
	padding: 10px 25px 15px;
	border-bottom: 1px solid $grey-divider;
}
.ac-main-title{
	.heading--h2{
		font-size: 18px;
		font-weight: 600;
		color: $grey-content;
	}
	
}
.ac-panel{
	&_title{
		position: relative;
		cursor: pointer;
		.heading--h3,.heading--h4,.ac-icon{
			pointer-events: none;
		}
		.heading--h3{
			font-size: 14px;
			font-weight: 600;
			color: $azure;
			line-height: 26px;
		}
		.heading--h4{
			font-size: 12px;
			font-weight: 600;
			color: $grey-description;
			margin-top: 6px;
		}
		.ac-icon{
			font-size: 26px;
			position: absolute;
			margin-left: 25px;
			right: 0;
			color: $azure;
			display: inline-block;
            transform: scaleY(1);
            filter: none;
            transition: transform .3s, filter .3s;
		}
		&.ac--open{
			.ac-icon{
				transform: scaleY(-1);
            	filter: flipv;
           		display: inline-block;
            	padding-left: 5px;
            	padding-right: 0;
            	transition: transform .3s, filter .3s;
			}
		}
	}
	&_content{
		position: relative;
		font-size: 13px;
		font-weight: 400;
		color: $grey-content;
		transition: height 1s, padding 1s, opacity 1s ease-in;
		padding: 0;
		overflow: hidden;
		opacity: 0;
		height: 0;
		&.ac--open{
			display: block;
			transition: height 1s, padding 1s, opacity 1s ease-in;
			padding: 25px 0 0 0;
			opacity: 1;
		}
		.absolute-container{
			position: absolute;
			top: 25px;
		}
	}
}

